---
http_interactions:
- request:
    method: get
    uri: https://api.tide.co/tide-backend/rest/api/v1/external/companies
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer DsUKgggaBGUyTgUTrMWsTzSwJsX0Itln
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"companyId":17918,"number":"10567332","name":"Poetic Justice Ltd","sicCode":null,"vatNumber":"295205690","tradingName":"Poetic
        Justice","registered":true,"isoCreatedOn":"2017-07-15T14:22:05Z","isoUpdatedOn":"2018-10-11T19:41:35Z"}]'
  recorded_at: Sun, 30 Jun 2019 11:12:30 GMT
recorded_with: VCR 4.0.0
