---
http_interactions:
- request:
    method: get
    uri: https://api.tide.co/tide-backend/rest/api/v1/external/companies/17918/accounts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer M5EmqWpeuiou83huuOPP4jNMEFJ8bRBD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"accountId":10172,"companyId":17918,"accountNumber":"03097031","name":"Tide
        Current Account","balance":54781.63,"availableBalance":54643.75,"currencyCode":"GBP","sortCode":"236972","isoCreatedOn":"2017-07-16T12:00:04Z","isoUpdatedOn":"2019-06-17T19:50:12Z"}]'
  recorded_at: Mon, 17 Jun 2019 22:11:57 GMT
recorded_with: VCR 4.0.0
