---
http_interactions:
- request:
    method: get
    uri: https://api.tide.co/tide-backend/rest/api/v1/external/accounts/10172/transactions
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer M5EmqWpeuiou83huuOPP4jNMEFJ8bRBD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[
          {
            "transactionId": 1141798,
            "accountId": 19141,
            "amount": 100.0,
            "type": "PYI",
            "txnRef": "T4713110905093390",
            "isoTransactionDateTime": "2017-12-01T09:05:09Z",
            "isoAppliedDateTime": "2017-12-01T09:05:09Z",
            "isoClearedDateTime": "2017-12-01T09:05:09Z",
            "maskedPan": null,
            "status": "cleared",
            "description": "Jessy J - Price Tag",
            "isoCreatedOn": "2017-12-02T04:04:01Z",
            "isoUpdatedOn": "2017-12-03T14:17:36Z",
            "categoryId": 98466,
            "categoryName": "Engineering Services",
            "categoryType": "INCOME"
          },
          {
            "transactionId": 1164123,
            "accountId": 19141,
            "amount": -100.5,
            "type": "PYO",
            "txnRef": "T27120420423049317",
            "isoTransactionDateTime": "2017-12-04T20:43:30Z",
            "isoAppliedDateTime": "2017-12-04T20:43:30Z",
            "isoClearedDateTime": "2017-12-04T20:43:30Z",
            "maskedPan": "",
            "status": "cleared",
            "description": "WILSON SILVA ref: SALOCT",
            "isoCreatedOn": "2017-12-04T20:43:33Z",
            "isoUpdatedOn": "2017-12-05T04:06:08Z",
            "categoryId": 86837,
            "categoryName": "Salaries",
            "categoryType": "EXPENDITURE"
          }
        ]'
  recorded_at: Mon, 17 Jun 2019 22:29:37 GMT
recorded_with: VCR 4.0.0
